In [3]:
import numpy as np
import pandas as pd
import os,sys

In [14]:
d1 = {'mass' : [100.0,200.,400.,500.], 'lifetime' : [1.0,1.0,0.0,0.0], 'eff1' : [0.2,0.4,0.6,0.7]}
d2 = {'mass' : [200.0,100.,400.,600.], 'lifetime' : [1.0,1.0,0.0,0.0], 'eff2' : [0.2,0.1,0.3,0.4]}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

In [15]:
df = df1.merge(df2,on=['mass','lifetime'],how='outer')

In [16]:
df

    mass  lifetime  eff1  eff2
0  100.0       1.0   0.2   0.1
1  200.0       1.0   0.4   0.2
2  400.0       0.0   0.6   0.3
3  500.0       0.0   0.7   NaN
4  600.0       0.0   NaN   0.4